Asset_Bucket = "andridk-assets"
Preview_Bucket = "andridk-assets"
Preview_Prefix = "s3preview/"
StorageDomain = "s3.amazonaws.com"
ListenPort = 8097

[previews.sq200]
width = 200
height = 200
method = "thumbnail"

[previews.thumbnail]
width = 100
height = 100
method = "thumbnail"

[previews.small]
width = 0
height = 100
method = "resize"

[previews.large]
width = 500
height = 500
method = "thumbnail"